<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Vue JS</title>
</head>

<body>
    <h3>Vue JS</h3>
    <div id="app">

        <div v-if="isShow">
            <div v-for="book in books">
                <p>{{book.title}}</p>
                <p>Author - {{book.author}}</p>
                <p>Age - {{book.age}}</p>
                <button @click="book.age--">Decrease Age</button>
                <button @click="book.age++">Increase Age</button>
                <hr>
            </div>
        </div>
        <button @click="isShow=!isShow">
            <span v-if="isShow">Hide</span>
            <span v-if="isShow==false">Show</span>
        </button><br>

    </div>
    <script src="index.js"></script>
</body>

</html>